@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i&display=swap&subset=latin-ext,vietnamese');
@import url("../addons/fonts/proxima-nova/stylesheet.css"); // Fonts: Proxima Nova

:root {
    --red: #d50f25;

    --navbar-link-hover: var(--lightred);

    --font-family-sans-serif: 'proxima-nova', sans-serif;
    --font-family-serif: 'Spectral', serif;

    --font-size-7: 12px;

    --background: var(--white);

    --navbar-background: transparent;
    --navbar-height: 10rem;
    --navbar-height-mobile: 8rem;
    --navbar-height-onscroll: 8rem;
    --navbar-height-mobile-onscroll: 6rem;

    --primaryColor: var(--lightred);
}

body {
    transition: opacity .5s;
}

@mixin cropmarks {
    display: block;
    width: 1em;
    height: 1em;

    background-image: url('/assets/images/layout/cropmarks.png');
    background-size: contain;
}

.cropmarks {
    @include cropmarks;
}

.container {
    padding-left: 2em;
    padding-right: 2em;
}

.has-text-smallcaps {
    letter-spacing: .1em;
}

.haiphan-title {
    width: 100%;
    margin-bottom: 3em;

    >* {
        @include breakpoint(sm) {
            max-width: 90%;
        }
    }

    .has-text-smallcaps {
        &:after {
            content: '';
            display: block;

            width: .3em;
            height: .3em;

            margin: 1em 0;

            border-radius: 50%;

            background-color: var(--primaryColor);
        }
    }
}

.container>.haiphan-title {
    @include breakpoint(sm) {
        max-width: 75%;
    }
}

@import 'overlay';
@import 'components/home-hero';
@import 'components/home-works';
@import 'components/about';
@import 'components';
@import 'works';
@import 'footer';