.navbar {
    background: transparent;
    color: var(--accentColor);
}


#home-about {
    margin: 10rem 0;
}

#home-lab {
    margin: 10em 0;

    .haiphan-title {
        @include breakpoint(sm) {
            padding-left: 6em;
            margin-bottom: 0;
        }
    }
}