body {
    background-color: transparent;
}

.navbar {
    background: transparent;
}


#home-about {
    margin: 10rem 0;
}

#home-lab {
    margin: 10em 0;

    .haiphan-title {
        @include breakpoint(sm) {
            padding-left: 6em;
            margin-bottom: 0;
        }
    }
}

.home-lab-stacks {
    position: relative;
    z-index: 2;

    display: flex;

    width: 100%;
    height: 40vh;

    figure.image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 50vmin;

        border-radius: var(--border-radius);

        overflow: initial;

        @include breakpoint(sm) {
            width: 60%;
        }

        &:hover {
            z-index: 9;
        }

        &:nth-child(1) {
            z-index: 8;

            img {
                transform: translateX(10%) translateY(0%);
            }
        }

        &:nth-child(2) {
            z-index: 7;

            img {
                transform: scale(0.7) translateX(-70%) translateY(0%);
            }
        }

        &:nth-child(3) {
            z-index: 6;

            img {
                transform: scale(0.6) translateX(90%) translateY(0%);
            }
        }
    }
}



.about-wrapper {
    margin-top: 10em;
    margin-bottom: 10em;
}