.footer {
    position: relative;

    display: flex;

    width: 100%;

    padding-top: 2em;
    padding-bottom: 1em;

    color: var(--accentColor);

    &.is-dark {
        background-color: var(--black);
        color: var(--white);
    }
}

.footer .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @include breakpoint(sm) {
        flex-wrap: nowrap;
    }
}

.footer-item {
    margin-bottom: 1em;

    a {
        &:hover {
            color: var(--lightred);
        }
    }
}

.footer-copyright {
    width: 100%;
}

.footer-email {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include breakpoint(sm) {
        width: 100%;
    }
}

.footer-socials {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    a {
        margin-left: 1em;
    }

    @include breakpoint(sm) {
        width: 100%;
        justify-content: flex-end;
    }
}

.footer.has-sun {
    margin-bottom: -8em;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;

        display: block;

        border-radius: 8em 8em 0 0;

        width: 16em;
        height: 8em;

        background-image: linear-gradient(to bottom, var(--lightred) 0%, rgba(0, 0, 0, 0) 200%);

        transform: translateX(-50%);

        @include breakpoint(xs) {
            left: 0;
            width: 8em;
            border-radius: 0 8em 0 0;
            transform: unset;

        }
    }
}

.subfooter {
    position: relative;

    padding: 12em 0 1em;
    margin-top: 15em;

    &.is-dark {
        background-color: var(--black);
        color: var(--white);
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint(sm) {
            flex-direction: row;
        }
    }

    @include breakpoint(sm) {
        padding: 12em 0 3em;
        margin-top: 20em;
    }
}

.subfooter-logo {
    position: absolute;
    top: -8em;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 16em;

    &:before {
        content: '';

        display: block;

        border-radius: 50%;

        width: 16em;
        height: 16em;

        background-image: linear-gradient(to bottom, var(--lightred), rgba(0, 0, 0, 0));
    }
}

.subfooter-services {
    margin-top: 3em;
    margin-bottom: 3em;

    ul {
        columns: 2;
        line-height: 2;
    }

    &:before {
        content: '';
        @include cropmarks;
        margin-bottom: .5em;
        filter: invert(1);
    }

    @include breakpoint(sm) {
        margin: 0;

        ul {
            column-gap: 2em;
        }
    }
}