<section id="footer" class="footer {{ page.footer }}" style="opacity: 0;">
    <div class="container is-wide">
        <div class="footer-item footer-copyright">
            <a href="/about">
                <span class="is-lowercase">© haiphan.</span>
            </a>
        </div>
        <div class="footer-item footer-email">
            <a href="mailto:{{ site.data.settings.contact_settings.contact_email }}" class="has-underline">
                <span class="is-lowercase">{{ site.data.settings.contact_settings.contact_email }}</span>
            </a>
        </div>
        <div class="footer-item footer-socials">
            <a href="https://instagram.com/haiphan.design/" class="has-underline-hover">
                <span class="is-lowercase">instagram</span>
            </a>
            <a href="https://behance.net/haiphandesign/" class="has-underline-hover">
                <span class="is-lowercase">behance</span>
            </a>
        </div>
    </div>
</section>