{% if page.layout == "home" %}
<section class="footer is-dark">
    {% else %}
    <section class="footer has-sun">
        {% endif %}
        <div class="container is-wide">
            <div class="footer-item footer-copyright">
                <span class="has-text-lowercase">© haiphan.</span>
            </div>
            <div class="footer-item footer-email">
                <a href="mailto:hai@haiphan.design">
                    <span class="has-text-lowercase">hai@haiphan.design</span>
                </a>
            </div>
            <div class="footer-item footer-socials">
                <a href="https://behance.net/thanhhaired/">
                    <span class="has-text-lowercase">behance</span>
                </a>
                <a href="https://instagram.com/haiphan.design/">
                    <span class="has-text-lowercase">instagram</span>
                </a>
            </div>
        </div>
    </section>