<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.url == "/" %}
        {{ site.data.settings.basic_settings.site_title }}&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;Multidisciplinary
        Designer
        {% else %}{{ page.title }}&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;{{ site.data.settings.basic_settings.site_title }}{% endif %}
    </title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body style="opacity: 0;--background: {{ page.background }};--accentColor: {{ page.accent_color }}"
    class="is-nonselectable dragscroll">