{% if page.layout == "home" %}
<nav id="navbar" class="navbar is-fixed is-dark lax" data-lax-opacity="0 0, (vh*0.7) 0, vh 1">
    {% else %}
    <nav id="navbar" class="navbar is-fixed is-dark">
        {% endif %}
        <div class="container is-wide">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <h1 class="is-serif has-text-weight-normal">haiphan.</h1>
                </a>
            </div>

            <div class="navbar-toggle" onclick="navbarToggle(this)"></div>

            <div class="navbar-menu navbar-end">
                {% for item in site.data.settings.menu_settings.menu_items %}
                <a class="navbar-item navbar-link" href="{{ item.url }}"><span
                        class="has-text-lowercase">{{ item.title }}</span></a>
                {% endfor %}
                <div class="navbar-menu-close" onclick="navbarMenuClose(this)">
                    <div class="delete"></div>
                </div>
            </div>

        </div>
    </nav>