#home-works {
    margin: 10rem 0;
}

.portfolio-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-gallery-item {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% / 5 * 4);

    padding: 0;
    margin-bottom: 3em;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(sm) {
        width: 50%;
        padding: 3rem;
        margin-bottom: 0;

        &.is-large {
            width: 83.3333%;

            .portfolio-gallery-item-text p {
                width: 60%;
            }
        }

        &.is-normal {
            .portfolio-gallery-item-text p {
                width: 80%;
            }
        }

        &.is-small {
            width: calc(100% / 3);

            .portfolio-gallery-item-text p {
                width: 100%;
            }
        }
    }

    &.is-view-more {
        width: calc(100% / 3);
        align-items: center;
    }

    .portfolio-gallery-item-category {
        position: absolute;
        top: 0;
        right: 100%;

        display: flex;

        margin-right: 2rem;

        transform: rotateZ(-90deg);
        transform-origin: 100% 0 0;

        p {
            font-family: var(--font-family-monospace);
            text-transform: uppercase;
            font-size: var(--font-size-7);
            white-space: nowrap;
        }

        @include breakpoint(sm) {
            top: 3rem;
            margin-right: -1rem;
        }
    }

    .portfolio-gallery-item-text {
        width: 100%;
        margin-top: 1em;

        h4 {
            display: inline-block;
            font-family: var(--font-family-serif);
            font-weight: normal;

            line-height: 1.25;
            border-bottom: .15em inset transparent;
            margin-bottom: .15em;
        }

        p {
            color: var(--darkgray);
        }
    }

    &:hover {
        .portfolio-gallery-item-text h4 {
            border-bottom-color: var(--lightred);
        }
    }
}