.hero {
    display: block;

    width: 100%;
    height: 200vh;

    margin-bottom: 10em;

    background-color: var(--black);
    background-image:
        url('/assets/images/layout/hero-01.png'),
        url('/assets/images/layout/hero-02.png');
    background-position: top right, top 75vh left;
    background-size: 80% auto, 80% auto;
    background-repeat: no-repeat;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

    margin-bottom: -55vh;

    @include breakpoint(sm) {
        margin-bottom: -75vh;
        background-size: unset;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include breakpoint(sm) {
            flex-direction: row;
        }
    }

    .hero-left {
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 100vh;
        width: 40%;

        padding: 5em 0;

        @include breakpoint(xs) {
            width: 100%;
            max-width: 30em;

            filter: drop-shadow(0 0 2rem var(--darkblack));

            .hero-title>p {
                color: var(--white);
            }
        }
    }

    .hero-right {
        position: relative;
        z-index: 1;

        height: 100vh;
        width: 60%;

        @include breakpoint(xs) {
            position: absolute;
            right: 0;
            top: 0;

            width: 100%;

            pointer-events: none;
        }
    }

    .hero-title {
        width: 100%;

        .cropmarks {
            @include cropmarks;
            filter: invert(1);
            margin: .5em 0 0;
        }
    }

    .hero-logo {
        margin-top: 1em;
    }

    .hero-image-stacks {
        position: relative;
        z-index: 2;

        display: flex;

        width: 100%;
        height: 100vh;

        figure.image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

            width: 50vmin;

            border-radius: var(--border-radius);

            overflow: initial;

            @include breakpoint(sm) {
                width: 60%;
            }

            img {
                border-radius: var(--border-radius);
            }

            &:hover {
                z-index: 9;
            }

            &:nth-child(1) {
                z-index: 8;

                img {
                    transform: translateX(-10%) translateY(0%);
                }
            }

            &:nth-child(2) {
                z-index: 7;

                img {
                    transform: translateX(0%) translateY(26%);
                }
            }

            &:nth-child(3) {
                z-index: 6;

                img {
                    transform: translateX(10%) translateY(-49%);
                }
            }

            &:nth-child(4) {
                z-index: 5;

                img {
                    transform: translateX(20%) translateY(0%);
                }
            }
        }
    }

    .hero-image-background {
        position: absolute;
        right: 0;
        top: 50%;

        display: block;

        width: 60%;
        height: 50%;

        background: var(--darkblack);

        transform: translateY(-50%);

        opacity: .5;
    }

    .hero-scroll {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        font-size: var(--font-size-7);
        color: white;

        pointer-events: none;

        .hero-scroll-wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;

            width: 100%;
            height: 100%;

            padding: 4em 2em;
        }

        .hero-scroll-icon {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: .75em;
            height: 1.25em;

            margin-right: .75em;

            border: 1px solid white;
            border-radius: .375em;
        }

        .hero-scroll-icon-inner {
            display: flex;

            width: .35em;
            height: .35em;

            background-color: white;
            border-radius: 50%;
        }
    }

}