<section id="home-about">

    <div class="container">
        <div class="level is-fullwidth is-flex is-align-center">
            <div class="level-left">
                <div class="about-intro">
                    <div class="haiphan-title">
                        <p class="has-text-smallcaps has-text-darkgray">Hi, it's Hai!</p>
                        <h4>Hai Phan is a Melbourne based multidisciplinary designer and
                            design master's student focusing on experimenting and creating well-layout <span
                                class="has-text-italic has-text-weight-normal is-serif">identity</span>,
                            <span class="has-text-italic has-text-weight-normal is-serif">print</span>, <span
                                class="has-text-italic has-text-weight-normal is-serif">web</span> and <span
                                class="has-text-italic has-text-weight-normal is-serif">user interface</span>
                            design.</h4>
                        <br>
                        <p><a class="has-link has-text-underline-2" href="#">
                                <span>cv</span>
                                <span class="icon"><i class="fal fa-arrow-right"></i></span>
                            </a></p>
                    </div>
                </div>
                <div class="about-contact">
                    <div class="level is-fullwidth">
                        <div class="level-left">
                            <p class="has-text-smallcaps has-text-darkgray">Project inquiries</p>
                            <p><a href="mailto:hai@haiphan.design"
                                    class="has-link has-text-underline-2">hai@haiphan.design</a></p>
                        </div>
                        <div class="level-right">
                            <p class="has-text-smallcaps has-text-darkgray">Follow me</p>
                            <p><a href="mailto:hai@haiphan.design" class="has-link has-text-underline-2">instagram</a> +
                                <a href="mailto:hai@haiphan.design" class="has-link has-text-underline-2">behance</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <figure class="image is-rounded">
                    <img src="/assets/images/home/about.jpg" />
                    <figcaption>Sydney trip, Summer'19.</figcaption>
                </figure>
            </div>
        </div>
    </div>

</section>