<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.data.settings.basic_settings.site_title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    {% include overlay.html %}
    {% include navbar.html %}

    <div id="main">

        <div class="about-wrapper">

            <div class="container">

                <div class="about-head lax" data-lax-opacity_xs="0 1, 400 1, vh 0">

                    <div class="level is-fullwidth is-flex is-align-end">

                        <div class="level-left">

                            <div class="about-intro">
                                <div class="haiphan-title">
                                    <p class="has-text-smallcaps has-text-darkgray">Hi, it's Hai!</p>
                                    <h4>Melbourne based multidisciplinary designer and
                                        design master's student focusing on experimenting and creating well-layout <span
                                            class="has-text-italic has-text-weight-normal is-serif">identity</span>,
                                        <span class="has-text-italic has-text-weight-normal is-serif">print</span>,
                                        <span class="has-text-italic has-text-weight-normal is-serif">web</span> and
                                        <span class="has-text-italic has-text-weight-normal is-serif">user
                                            interface</span>
                                        design.</h4>
                                </div>
                            </div>

                            <div class="about-contact">
                                <div class="level is-fullwidth">
                                    <div class="level-left">
                                        <p class="has-text-smallcaps has-text-darkgray">Project inquiries</p>
                                        <p><a href="mailto:{{ site.data.settings.contact_settings.contact_email }}"
                                                class="has-link has-text-underline-2">{{ site.data.settings.contact_settings.contact_email }}</a>
                                        </p>
                                    </div>
                                    <div class="level-right">
                                        <p class="has-text-smallcaps has-text-darkgray">Follow me</p>
                                        <p><a href="{{ site.data.settings.contact_settings.contact_instagram }}"
                                                class="has-link has-text-underline-2">instagram</a> +
                                            <a href="{{ site.data.settings.contact_settings.contact_behance }}"
                                                class="has-link has-text-underline-2">behance</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="level-right">
                            <figure class="image is-rounded">
                                <img src="/assets/images/about/intro.png" />
                                <figcaption>Sydney trip, Summer'19.</figcaption>
                            </figure>
                        </div>

                    </div>

                </div>

            </div>


            <div class="container is-medium">

                <div class="about-body">

                    <div class="about-item">
                        <div class="about-item-title">
                            <p class="has-text-smallcaps has-text-darkgray">Employment History</p>
                        </div>
                        <div class="about-item-content">
                            <ul class="is-two-column">
                                <li>
                                    <p>graphic-designer, sr. @ cattiensa, vn</p>
                                    <p class="has-text-darkgray">may 2018 - april 2019</p>
                                </li>
                                <li>
                                    <p>founder @ đỏ</p>
                                    <p class="has-text-darkgray">april 2016 - april 2019</p>
                                </li>
                                <li>
                                    <p>graphic-designer, jr. @ themenoid, de</p>
                                    <p class="has-text-darkgray">june 2015 - january 2016</p>
                                </li>
                                <li>
                                    <p>graphic-designer, freelancer</p>
                                    <p class="has-text-darkgray">june 2014 - present</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="about-item">
                        <div class="about-item-title">
                            <p class="has-text-smallcaps has-text-darkgray">Education</p>
                        </div>
                        <div class="about-item-content">
                            <ul class="is-two-column">
                                <li>
                                    <p>ba @ rmit-university</p>
                                    <p class="has-text-darkgray">september 2014 - april 2018</p>
                                </li>
                                <li>
                                    <p>mba @ monash-university</p>
                                    <p class="has-text-darkgray">july 2019 - present</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="about-item">
                        <div class="about-item-title">
                            <p class="has-text-smallcaps has-text-darkgray">Awards/ Features</p>
                        </div>
                        <div class="about-item-content">
                            <ul>
                                <li>
                                    <p>kyoto - website design @ rmit student showcase</p>
                                    <p class="has-text-darkgray">first-place, 2017</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="about-item">
                        <div class="about-item-title">
                            <p class="has-text-smallcaps has-text-darkgray">Clients</p>
                        </div>
                        <div class="about-item-content">
                            <ul class="is-cloud">
                                <li><a class="has-link" href="https://kingparkmedia.com/">kingparkmedia</a></li>
                                <li><a class="has-link" href="https://winston-thomas.com/">winston-thomas</a></li>
                                <li>the-vintage-emporium</li>
                                <li>fe-credit</li>
                                <li><a class="has-link" href="https://vietphongsaigon.com/">vietphongsaigon</a></li>
                                <li><a class="has-link" href="https://deadendvietnam.com/">deadend</a></li>
                                <li><a class="has-link" href="http://dameva.vn/">dameva</a></li>
                                <li><a class="has-link" href="http://dantruyen.com/">dẫn-truyện</a></li>
                                <li>urban-station</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container">
                <div class="about-footer">
                    <h4>Available for your next project. <a
                            href="mailto:{{ site.data.settings.contact_settings.contact_email }}"
                            class="has-text-underline-2 has-text-lightred">Let's talk</a> .
                    </h4>
                </div>
            </div>

        </div>

    </div>

    {% include footer.html %}

</body>

<!-- Javascript -->
{% include javascript.html %}

</html>