<section class="hero lax" data-lax-opacity="0 1, 400 1, vh 0">

    <div class="container">


        <!-- HERO: LEFT -->
        <div class="hero-left">

            <div class="hero-title">

                <p class="has-text-smallcaps has-text-lightgray">multidisciplinary
                    <br>- designer</p>
                <div class="cropmarks"></div>
                <img src="/assets/images/layout/logo-white.svg" alt="haiphan." class="hero-logo">

            </div>

        </div>


        <!-- HERO: RIGHT -->
        <div class="hero-right">

            <!-- HERO: IMAGE STACKS -->
            <div class="hero-image-stacks">
                <figure class="image">
                    <img src="/assets/images/home/hero-01.jpg">
                </figure>
                <figure class="image">
                    <img src="/assets/images/home/hero-02.jpg">
                </figure>
                <figure class="image">
                    <img src="https://via.placeholder.com/1000x750/007aff/007aff">
                </figure>
                <figure class="image">
                    <img src="https://via.placeholder.com/750x750/4cd964/4cd964">
                </figure>
            </div>

            <!-- HERO: IMAGE STACKS BACKGROUND -->
            <div class="hero-image-background"></div>

        </div>


        <!-- HERO: SCROLL -- START -->
        <div class="hero-scroll lax" data-lax-opacity="0 1, 100 1, 300 0">

            <div class="hero-scroll-wrapper">

                <div class="hero-scroll-icon">
                    <div class="hero-scroll-icon-inner"></div>
                </div>

                <div class="hero-scroll-text">scroll down</div>
            </div>

        </div>


    </div>

</section>