<section id="home-lab">

    <div class="container">
        <div class="level is-reversed is-fullwidth is-flex is-align-center">

            <div class="level-left">
                <div class="home-lab-stacks">
                    <figure class="image is-rounded">
                        <img src="/assets/images/home/lab.jpg">
                    </figure>
                </div>
            </div>

            <div class="level-right is-nonselectable">
                <div class="haiphan-title">
                    <p class="has-text-smallcaps has-text-darkgray">The lab</p>
                    <h4>A collections of commisioned & experimental works.</h4>
                    <br>
                    <p><a href="/lab/" class="has-link has-text-lowercase has-text-underline-2">
                            <span>have a look</span>
                            <span class="icon"><i class="fal fa-arrow-right"></i></span>
                        </a></p>
                </div>
            </div>

        </div>
    </div>

</section>