<section id="home-works">

    <div class="container">
        <div class="haiphan-title has-paragraphs">
            <p class="has-text-smallcaps has-text-darkgray">Recent works</p>
            <h4>Designers are problem solvers. Hai values imperfections around him and feels compelled to rise to its
                challenge in order to improve processes, reimagine experiences and transform the relationship between
                brands and
                people.
            </h4>
            <h4>I certainly don't have all the answer,<br class="is-hidden-xs">just the tireless curiosity to pursue
                them.</h4>
        </div>
    </div>

    <div class="container is-wide">



    </div>

</section>